{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block main %}
<h2 class="title_one">About</h2>
<!-- in about, my plan is to give a brief description of the site
and also an ability for users to send messages to my email if there are bugs -->
<p class="about_p"> Hi there!
    I'm Dan and this is my CS50 Final Project, a To-Do list with a quick-use "Today" page,
    and then specified pages on different types of list with the ability to add a deadline for long-term tasks.
    I mainly used this final project to test my abilities in python and it's relation to flask and sqlite3, as at the
    moment
    I have a larger interest in back-end programming, but I also tried to expand my knowledge of JavaScript and jQuery
    with some short functions.
</p>
<p class="about_p">
    I hope you find the site useful! Below I've included a text box where you can submit your email and a message
    regarding any bugs that you may find, or just to enquire for general information,
    Thanks!
</p>
<div>
    <form action="/email" method="post">
        <p><input type="text" name="email" id="email" autofocus autocomplete="off" placeholder="Enter your email here">
        </p>
        <p><input type="text" name="message" id="message" autocomplete="off" placeholder="Enter your message here"></p>
        <button type="submit">Submit Message</button>
    </form>
</div>
{% endblock %}