{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block main %}

<h2 class="title_one">Welcome to To-Do</h2>
<p></p>
<script async src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("login_form").submit();
    }
</script>
<form id="login_form" action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <p></p>
    <button class="g-recaptcha btn btn-primary" data-sitekey="{{ site_key }}" type="submit" data-callback="onSubmit" data-action="submit">Log In</button>
</form>

<p></p>
<form action="/register" method="get">
<button class="btn btn-secondary" type="submit">Register</button>
</form>
{% endblock %}